/*
    Globals
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

h1,
h2,
h3,
h4 {
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

h2 {
    color: #c8c8c8;
    font-size: 24px;
    border-left: 3px solid #c8c8c8;
    padding-left: 7px;
    margin-bottom: 26px;
}

h3 {
    font-size: 16px;
}

input,
textarea {
    font-size: 12px;
    border: solid 1px #d5d5d5;
}

.show-menu nav {
    display: block;
}


/*
layout
*/

.container {
    max-width: 960px;
    width: 100%;
    margin: auto;
}


/*
Header
*/

header {
    background-color: black;
    /* padding: 0 0 0 0; */
    /* padding: 0 0 0; */
    padding: 0 20px;
    /* padding: 0; */
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header a {
    color: white;
}

header .logo {
    font-size: 32px;
}

header nav {
    font-size: 16px;
}

header nav a {
    color: #c7c7c7;
}

header ul {
    display: flex;
    align-items: center;
}

header li {
    margin-left: 15px;
}

header .menu {
    color: white;
    font-size: 28px;
    display: none;
}


/*
Main
*/

main {
    padding: 115px 0 35px;
}

main section {
    margin-bottom: 70px;
}

main section:hover h2 {
    color: #42704e;
    border-color: #42704e;
}


/*
Sobre mi
*/

.about-me .text {
    display: flex;
}

.about-me p {
    font-size: 18px;
    line-height: 28px;
}

.about-me ul {
    display: flex;
}

.about-me li {
    margin-right: 10px;
}

.about-me a {
    display: inline-block;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 38px;
    color: white;
    font-size: 18px;
}

.about-me .linkedin {
    background-color: #0077B5;
}

.about-me .github {
    background-color: black;
}

.about-me .twitter {
    background-color: #1EA1F2;
}

.about-me .skype {
    background-color: #0495E2;
}

.about-me figure {
    margin-right: 40px;
}

.about-me img {
    border-radius: 100%;
    border: 6px solid #f0f0f0;
}

.about-me p {
    margin-bottom: 36px;
}

.about-me:hover img {
    border-color: #42704e;
}


/*
portfolio
*/

.portfolio .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio article {
    position: relative;
    margin-bottom: 20px;
}

.portfolio article:hover .text {
    display: flex;
}

.portfolio article:hover img {
    border-color: #42704e;
}

.portfolio .text {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, .5);
    color: white;
    padding: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.portfolio .text h3 {
    margin-bottom: 6px;
}

.portfolio .text ul {
    display: flex;
    align-items: center;
}

.portfolio .text li {
    margin-right: 4px;
}

.portfolio .text span {
    display: inline-block;
    font-size: 11px;
    font-family: Helvetica;
    background-color: #4c2358;
    padding: 5px 14px;
    border-radius: 12px;
}

.portfolio img {
    border: solid 10px #f0f0f0;
}


/*
Mis habilidades
*/

.skills .wrap-skills {
    display: flex;
    flex-wrap: wrap;
}

.skills .skill {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skills .skill:nth-child(odd) {
    padding-right: 20px;
}

.skills .bar {
    background: #4c2358;
    height: 20px;
    width: 100%;
    border-radius: 11px;
}

.skills .bar div {
    height: 20px;
    border-radius: 11px;
    background: #42704e;
}

.skills h3 {
    font-size: 13px;
    font-weight: bold;
    width: 110px;
}


/*
contact
*/

.contact {
    display: flex;
}

.contact .form,
.contact .address {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact .form {
    width: 70%;
    border-right: solid 1px #d5d5d5;
    padding-right: 20px;
}

.contact .wrap-form {
    display: flex;
    flex-wrap: wrap;
}

.contact .wrap-form div {
    width: 50%;
    margin-bottom: 20px;
}

.contact .wrap-form div:nth-child(odd) {
    padding-right: 20px;
}

.contact .wrap-form div.w100 {
    padding-right: 0;
}

.contact .wrap-form .w100,
.contact .wrap-form .w100 textarea {
    width: 100%;
}

.contact .wrap-form label {
    display: block;
    margin-bottom: 8px;
}

.contact .wrap-form input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.contact .address {
    padding-left: 20px;
}

.contact .address div {
    margin-bottom: 35px;
}

.contact .address h4 {
    margin-bottom: 16px;
    font-weight: bold;
}

.contact .address a {
    color: black;
}

.contact button {
    background-color: #42704e;
    color: white;
    width: 160px;
    height: 44px;
}


/*
Footer
*/

footer {
    background: black;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: underline;
}


/*
Responsive
*/

@media (max-width:960px) {
    header {
        padding: 0;
    }
    .container {
        padding: 0 20px;
    }
    main section {
        margin-bottom: 40px;
    }
    main .portfolio {
        margin-bottom: 20px;
    }
    .portfolio article {
        width: 49%;
    }
    .portfolio img {
        width: 100%;
    }
    footer .container {
        padding: 20px;
    }
}


/*
840 y 680 > TABLET Y GAMA ALTA CELULAR
*/

@media (max-width:768px) {
    
    header .menu {
        display: block;
    }
    main section h2 {
        color: #42704e;
        border-color: #42704e;
    }
    .about-me img {
        border-color: #42704e;
    }
    header nav {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,.5);
        z-index: 1;
    }

    header ul {
        display: block;
        text-align: center;
        
    }

    header li {
        margin: 0;
    }

    header nav a {
        display: block;
        padding: 20px;
        color: white;
        border-bottom: 3px solid white;
    }
}


/*
680 hasta 560 es para celulares gama media
*/

@media (max-width:660px) {
    .about-me .text {
        display: block;
        text-align: center;
    }
    .about-me figure {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .about-me p {
        margin-bottom: 20px;
    }
    .about-me ul {
        justify-content: center;
    }
    .contact {
        display: block;
    }
    .contact .form {
        width: 100%;
        border: none;
        padding: 0;
    }
    .contact .address {
        padding: 0;
        padding-top: 20px;
        border-top: solid 1px #d5d5d5;
    }
}


/*
560 hasta 320
*/

@media (max-width:560px) {
    header .logo {
        font-size: 24px;
    }
    .portfolio .articles {
        display: block;
    }
    .portfolio article {
        width: 100%;
    }
    .portfolio .text {
        display: block;
        position: initial;
    }
    .portfolio .text div {
        margin-bottom: 20px;
    }
    .portfolio .text div:last-child {
        margin-bottom: 0;
    }
    .portfolio article img {
        border-color: #42704e;
    }
    .skills .wrap-skills {
        display: block;
    }
    .skills .skill {
        width: 100%;
    }
    .skills .skill:nth-child(odd) {
        padding-right: 0;
    }
    .contact .wrap-form {
        display: block;
    }
    .contact .wrap-form div {
        width: 100%;
    }
    .contact .wrap-form div:nth-child(odd) {
        padding-right: 0;
    }
    footer .container {
        display: block;
        text-align: center;
    }
    footer .container p:first-child {
        margin-bottom: 15px;
    }
    .skills .skill {
        position: relative;
    }
    .skills .skill h3 {
        position: absolute;
        color: white;
        left: 10px;
        font-size: 12px;
    }
}